@import "@assets/stylesheets/mixins.scss";

.navbar-layout {
  background-color: var(--bg-blue-2);
  width: 100%;
  display: flex;

  .left-side {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;

    .logo {
      img {
        width: 200px;
        height: 75px;
        object-fit: cover;
        object-position: center;
      }
    }

    &__menu {
      font-size: 1.2rem;
      color: var(--text-white-1);

      .options {
        display: flex;
        align-items: center;
        gap: 15px;

        .option:hover {
          color: var(--text-blue-4);
          position: relative;
          cursor: pointer;

          &::before {
            content: "";
            height: 2px;
            position: absolute;
            background-color: var(--bg-blue-4);
            top: 200%;
            left: 0;
            animation: move-forward linear 0.2s forwards;
          }
        }
      }

      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }
  }

  .right-side {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 10px;

    &__menu {
      display: flex;
      width: 100%;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;

      .button {
        border-radius: 4px;
        padding: 13px 43px;

        a {
          all: unset;
        }
      }

      .btn-signup {
        background-color: var(--bg-blue-4);
      }

      .select-menu {
        margin-right: 30px;
        width: 90px;
      }

      .btn-notify {
        color: var(--text-white-1);
        font-size: 1.8rem;
        margin-right: 7px;
        position: relative;
        cursor: pointer;

        .badge {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--bg-red-1);
          top: -10px;
          left: 10px;
          width: 25px;
          height: 25px;
          font-size: small;
        }
      }
    }

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  @keyframes move-forward {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  ul,
  a,
  li {
    all: unset;
  }
}
